.cartas {
  border: solid black;
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 20%;
}

.form {
  display: flex;
  flex-direction: column;
}

/* .tela {
    display: flex;
    margin: 40px;
} */
